.chatbox {
    position:absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 100%;
    resize:both;
    overflow: auto;
}

.chat-iframe {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    resize:both;
    overflow: auto;
}